<%= erb :'/partials/_header', layout: false %>

<h1>Question:<%=@question.title%></h1>
<table>
  <tr>
    <td>
      <form class="" action="/questions/<%=@question.id%>/votes" method="post">
        <input type="hidden" name="vote_val" value="1">
        <input type="hidden" name="votable_id" value="<%=@question.id%>">
        <input type="hidden" name="user_id" value="<%=session[:id]%>">
        <input type="hidden" name="votable_type" value="Question">
        <input class="button-upvote" type="submit" value= " "></td>
      </form>
    <td rowspan=3 style="background-color:#c9e8f2; padding: 5px">
    <%=@question.body%>

    <h4>- <%=User.find(@question.user_id).username %></h4>
    </td>
  </tr>
  <tr>
    <td style="text-align:center" ><h3><%=@question.count_votes%></h3></td>
  </tr>
  <tr>
    <td>
      <form class="" action="/questions/<%=@question.id%>/votes" method="post">
        <input type="hidden" name="vote_val" value="-1">
        <input type="hidden" name="votable_id" value="<%=@question.id%>">
        <input type="hidden" name="user_id" value="<%=session[:id]%>">
        <input type="hidden" name="votable_type" value="Question">
        <input class="button-downvote" type="submit" name=" "></td>
      </form>
    </td>
  </tr>
</table>

<p>
    <!-- these are the comments with the question id -->
    <h6>Comments:<br>
        <ul>
            <%@question_comments.each do |comment|%>
            <li><%=comment.body%></li>
            <!--should this go in controller or model?-->
            -
            <%=User.find(comment.user_id).username%>
            <%end%>
        </ul>
    </h6>
    Add a comment:
    <form method='POST' action='/comments'>
        <input type='hidden' name='question_id' value='<%= @question.id %>'>
        <input type='hidden' name='commentable_type' value='Question'>
        <input type='text' name='comment' placeholder='comment'>
        <input type='submit' value='Submit'>
    </form>
</p>

<p>
    <h2>Answers:<%@question_answers.each do |answer| %></h2>
    <table>
      <tr>
        <td>
          <form class="" action="/answers/<%=answer.id%>/votes" method="post">
            <input type="hidden" name="vote_val" value="1">
            <input type="hidden" name="votable_id" value="<%=answer.id%>">
            <input type="hidden" name="user_id" value="<%=session[:id]%>">
            <input type="hidden" name="votable_type" value="Answer">
            <!-- <input class="button-upvote" type="submit" name="submit" style="background-color:#89afed; display:block; margin:auto" value="Upvote"></td> -->
            <input class="button-upvote" type="submit" value= " "></td>
          </form>
        <td rowspan=3 style="background-color:#e8e5e5; padding: 5px">
        <%=answer.body%>

        <h4>- <%=User.find(answer.user_id).username %></h4>
        </td>
      </tr>
      <tr>
        <td style="text-align:center" ><h3><%=answer.count_votes%></h3></td>
      </tr>
      <tr>
        <td>
          <form class="" action="/answers/<%=answer.id%>/votes" method="post">
            <input type="hidden" name="vote_val" value="-1">
            <input type="hidden" name="votable_id" value="<%=answer.id%>">
            <input type="hidden" name="user_id" value="<%=session[:id]%>">
            <input type="hidden" name="votable_type" value="Answer">
            <input class="button-downvote" type="submit" value=" " ></td>
          </form>
        </td>
      </tr>
    </table>


    <p>
        <!-- these are the comments with the answer id -->
        <h6>Comments:<br>
            <ul>
                <%comments_to_answer = Comment.where(commentable_id: answer.id, commentable_type: Answer)%>
                <%comments_to_answer.each do |comment|%>
                <li><%=comment.body%></li>
                <!--should this go in controller or model?-->
                -
                <%=User.find(comment.user_id).username%>
                <%end%>
                <br>
                Add a comment to this answer:
                <form method='POST' action='/answers/<%=answer.id%>/comments'>
                    <input type='hidden' name='answer_id' value=<%= answer.id %>>
                    <input type='hidden' name='commentable_type' value='Answer'>
                    <input type='text' name='body' placeholder='comment'>
                    <input type='submit' value='Submit'>
                </form>
                <br>
                <%end%>
            </ul>
        </h6>
    </p>

    <p>
        Provide an answer:<br>
        <form method='POST' action='/answers'>
            <input type='text' name='body' placeholder='answer'>
            <input type='hidden' name='question_id' value=<%= @question.id %> >
            <input type='submit' value='Submit'>
        </form>
    </p>
